* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #0079ff;
  --color2: #697c9a;
  --color3: #4b6a9b;
  --color4: #2b3442;
  --color5: #f6f8ff;
  --color6: #fefefe;
  --color7: #222731;
  --color-dark1: #fefefe;
  --color-dark2: #141d2f;
  --color-dark3: #1e2a47;
}

/*<<< -------------- Base h1-h4 and p------------>>>*/
h1 {
  color: var(--color4);
  font-size: 26px;
  font-weight: 700;
}

h2 {
  color: var(--color4);
  font-size: 22px;
  font-weight: 700;
}

h3 {
  color: var(--color3);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

h4 {
  color: var(--color3);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

p {
  color: var(--color4);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

/*<<< -------------- UI Commponents ------------>>>*/
.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 70px;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--color6);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}
.search-input:hover {
  cursor: pointer;
}
.search-input__text {
  width: 60%;
  background-color: transparent;
  color: var(--color7);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  border: none;
  outline: none;
}
.search-input__error-text {
  min-width: max-content;
  color: #f74646;
  font-size: 15px;
  font-weight: 700;
}
.search-input__btn {
  padding: 13px 24px;
  font-weight: 700;
  color: var(--color6);
  border-radius: 10px;
  background: var(--color1);
  border: none;
}
.search-input__btn:hover {
  cursor: pointer;
  background: #60abff;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color5);
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 730px;
  margin: 24px;
}
@media (max-width: 800px) {
  .main {
    width: 573px;
    margin: 70px;
  }
}
@media (max-width: 550px) {
  .main {
    min-width: 327px;
    margin: 24px;
  }
}

.header {
  width: 100%;
  gap: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo {
  color: var(--color7);
  font-size: 26px;
  font-weight: 700;
}
.header__theme {
  --theme-color: var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 20px;
  color: var(--theme-color);
}
.header__theme:hover {
  cursor: pointer;
  --theme-color: var(--color8);
}
.header__theme-text {
  text-align: right;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.5px;
}
.header__theme-logo {
  fill: var(--theme-color);
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  padding: 50px;
  border-radius: 15px;
  background-color: var(--color6);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}
@media (max-width: 800px) {
  .profile {
    padding: 40px;
  }
}
@media (max-width: 400px) {
  .profile {
    padding: 32px 24px;
  }
}
.profile__img {
  position: absolute;
  top: 50px;
  left: 50px;
}
@media (max-width: 800px) {
  .profile__img {
    top: 20px;
    left: 40px;
  }
}
@media (max-width: 630px) {
  .profile__img {
    width: 70px;
    height: 70px;
    top: 40px;
    left: 50px;
  }
}
@media (max-width: 450px) {
  .profile__img {
    top: 32px;
    left: 24px;
  }
}
.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 25px;
  width: 480px;
}
@media (max-width: 800px) {
  .profile__info {
    width: 100%;
  }
}
.profile__intro {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .profile__intro {
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
  }
}
.profile__name {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.profile__link {
  color: var(--color1);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.profile__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 85px;
  border-radius: 10px;
  background: var(--color5);
}
.profile__num {
  color: var(--color4);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
.profile__link-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 60px;
}
@media (max-width: 570px) {
  .profile__link-box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.profile__link-item {
  display: flex;
  gap: 16px;
}
.profile__link-icon {
  fill: var(--color3);
}
.profile__sub-link {
  color: var(--color3);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}
.profile__sub-link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
